header {
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: #fff;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    font-size: 20px;
    padding: 0 24px;
    width: 1152px;
    margin: 0 auto;
    h1 {
      position: relative;
      // &:before {
      //   content: '';
      //   position: absolute;
      //   top: 10px;
      //   left: 144px;
      //   width: 1px;
      //   height: 12px;
      //   background: #999;
      // }
      a {
        display: block;
        width: 120px;
        height: 50px;
        background: url(https://image.flaticon.com/icons/svg/2635/2635444.svg)
          no-repeat 0 100%;
        background-size: 120px 50px;
        text-indent: -999em;
      }
      h3 {
        position: absolute;
        font-size: 30px;
        font-weight: 400;
        top: 9px;
        left: 100px;
        // color: rgba(0, 0, 0, 0.65);
        white-space: nowrap;
      }
    }
  }
}
