.register-inputs {
  max-width: 470px;
}

.register-button {
  width: 100%;
}

.register-input {
  color: 'rgba(0,0,0,.25)';
}

.input-form {
  max-width: 400px;
  min-width: 300px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}
