@import '~antd/lib/style/themes/default.less';

@color-fengdie: #ffbf00;

@border-color: #d9d9d9;

@separate-line-color: #e9e9e9;

@font-color: rgba(0, 0, 0, 0.65);

@font-important-color: rgba(0, 0, 0, 0.85);
@font-active-color: #666;
@font-tip-color: rgba(0, 0, 0, 0.43);
@font-warning: #f56a00;
@font-fail: #f04134;

@button-primary-color: #ffbf00;
@label-color: #666;
@border-active-color: #ffbf00;
@background-active-color: #fff8ef;
@link-color: #50a4db;
@selected-color: #ffbc40;
@moved-color: #fff1e0;
@header-background-color: #222222;

@status-released-color: #00a854;
@status-editing-color: #2db7f5;
@status-previewing-color: #7265e6;
@status-approve_waiting-color: #fac450;
@status-approve_refused-color: #ff6600;
@status-release_fail-color: #ff6600;
@status-noop-color: #999;
@search-input-border-color: #f59f16;

@approveButtonBackgroundColor: #f7f7f7;
@weekBackgroundColor: #fbfbfb;

@highlight-font-color: @search-input-border-color;

@white-background-color: #fff;

@bgColor: #f7f7f7;
@titleColor: fade(#000, 85);
@contentColor: fade(#000, 43);
